<nav class="c-page-sidebar">
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Style</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a mat-button href="/style/layout" (click)="changeComponent($event); false;">Layout</a></li>
        <li><a mat-button href="/style/colors" (click)="changeComponent($event); false;">Colors</a></li>
        <li><a mat-button href="/style/typography" (click)="changeComponent($event); false;">Typography</a></li>
        <li><a mat-button href="/style/icons" (click)="changeComponent($event); false;">Icons</a></li>
        <li><a mat-button href="/style/logotype" (click)="changeComponent($event); false;">Logotype</a></li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Components</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a mat-button href="/components/search_components" (click)="changeComponent($event); false;">Search components</a></li>
        <li><a mat-button href="/components/forms" (click)="changeComponent($event); false;">Forms</a></li>
        <li><a mat-button href="/components/buttons" (click)="changeComponent($event); false;">Buttons</a></li>
        <li><a mat-button href="/components/tabs" (click)="changeComponent($event); false;">Tabs</a></li>
        <li><a mat-button href="/components/tooltips" (click)="changeComponent($event); false;">Tooltips</a></li>
        <li><a mat-button href="/components/grid" (click)="changeComponent($event); false;">Grid</a></li>
        <li><a mat-button href="/components/images" (click)="changeComponent($event); false;">Images</a></li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>How to use</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a mat-button href="#">Article</a></li>
      </ul>
    </mat-expansion-panel>

  </mat-accordion>
</nav>
