<h21-breadcrumbs-toolbar [routes]="[{title: 'Home', url:'/'}, {title: 'Our-Components'}]"
                         [actions]="actions"></h21-breadcrumbs-toolbar>

  <div _ngcontent-c3="" class="container-fluid">
    <div _ngcontent-c3="" class="row">
      <div _ngcontent-c3="" class="col-sm-12">
        <dx-text-box _ngcontent-c3="" mode="search" placeholder="Enter full name here..." ng-reflect-mode="search"
                     ng-reflect-placeholder="Enter full name here..." ng-reflect-show-clear-button="true"
                     ng-reflect-value="JNMXAR"
                     class="dx-texteditor dx-searchbox dx-show-clear-button dx-widget dx-textbox">
          <div class="dx-texteditor-container">
            <div class="dx-icon dx-icon-search"></div>
            <input autocomplete="off" class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0"
                   role="textbox">
            <div data-dx_placeholder="Enter full name here..." class="dx-placeholder dx-state-invisible"></div>
            <div class="dx-texteditor-buttons-container"><span class="dx-clear-button-area"><span
              class="dx-icon dx-icon-clear"></span></span></div>
          </div>
        </dx-text-box>
      </div>
      <div style="height:150000px; display:block;width:100%"></div>
    </div>
    <div _ngcontent-c3="" class="row">
      <div _ngcontent-c3="" class="col-md-3 col-md-offset-3">

      </div>
    </div>
  </div>
