<nav class="c-breadcrumbs" [class.breadcrumb-nav__without-last-link]="!lastIsLink">
  <ul>
    <li *ngIf="showHomeLink">
      <a mat-button href="#">
        <mat-icon>home</mat-icon>
        <span>home</span>
      </a>
    </li>
    <li *ngFor="let breadcrumb of breadCrumbs; let i = index;">
      <a mat-button href="{{breadcrumb.url}}" *ngIf="i != breadCrumbs.length - 1 || lastIsLink">{{breadcrumb.label}}</a>
      <span *ngIf="i == breadCrumbs.length - 1 && !lastIsLink">{{breadcrumb.label}}</span>
    </li>
  </ul>
</nav>
