<h21-header [productionEnvironment]="false" [needAuth]="true" [config]="{}"></h21-header>
<div class="app-border">
  <a class="btn btn-sm btn-outline-primary" [routerLink]="['/', 'travelport']">Travelport</a>
  <a class="btn btn-sm btn-outline-primary" [routerLink]="['/', 'profile']">Profile</a>
  <a class="btn btn-sm btn-outline-primary" [routerLink]="['/', 'test']">Test</a>
  <a class="btn btn-sm btn-outline-primary" [routerLink]="['/', 'components']">Components</a>
</div>
<router-outlet></router-outlet>
