<header class="header-container">
  <h21-mat-header></h21-mat-header>
</header>
<section class="content-container">
  <div class="content-container_sidebar">
    <h21-mat-sidebar-nav></h21-mat-sidebar-nav>
  </div>
  <div class="content-container_content">
    <h1>Breadcrumb examples</h1>

    <div class="line-separator">&nbsp;</div>

    <div class="example-container">
      <h21-mat-breadcrumb></h21-mat-breadcrumb>
    </div>
    <h21-mat-component-example-viewer [example]="getBreadCrumbExample1()"></h21-mat-component-example-viewer>

    <div class="line-separator">&nbsp;</div>

    <div class="example-container">
      <h21-mat-breadcrumb [lastIsLink]="true"></h21-mat-breadcrumb>
    </div>
    <h21-mat-component-example-viewer [example]="getBreadCrumbExample2()"></h21-mat-component-example-viewer>

    <div class="line-separator">&nbsp;</div>

    <div class="example-container">
      <h21-mat-breadcrumb [showHomeLink]="false"></h21-mat-breadcrumb>
    </div>
    <h21-mat-component-example-viewer [example]="getBreadCrumbExample3()"></h21-mat-component-example-viewer>

  </div>
</section>








<!--<div class="app-border">-->
  <!--<a class="btn btn-sm btn-outline-primary" [routerLink]="['/', 'test']">Test</a>-->
  <!--<a class="btn btn-sm btn-outline-primary" [routerLink]="['/', 'components']">Components</a>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
