<div class="page">
  <header class="page_header">
    <page-header></page-header>
  </header>
  <main class="page_body">
    <mat-sidenav-container>
      <mat-sidenav opened="true" mode ="side">
        <page-sidebar></page-sidebar>
      </mat-sidenav>
      <mat-sidenav-content>
        <h1>Breadcrumb examples</h1>
        <div class="line-separator">&nbsp;</div>
        <div class="example-container">
          <h21-breadcrumbs></h21-breadcrumbs>
        </div>
        <example-viewer [example]="getBreadCrumbExample1()"></example-viewer>
        <div class="line-separator">&nbsp;</div>
        <div class="example-container">
          <h21-breadcrumbs [lastIsLink]="true"></h21-breadcrumbs>
        </div>
        <example-viewer [example]="getBreadCrumbExample2()"></example-viewer>
        <div class="line-separator">&nbsp;</div>
        <div class="example-container">
          <h21-breadcrumbs [showHomeLink]="false"></h21-breadcrumbs>
        </div>
        <example-viewer [example]="getBreadCrumbExample3()"></example-viewer>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  <footer class="page_footer"></footer>
</div>
