<nav>
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Component 1</mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="menu">
        <li class="menu_item"><a mat-button href="@">Component 1.1</a></li>
        <li class="menu_item"><a mat-button href="@">Component 1.2</a></li>
        <li class="menu_item"><a mat-button href="@">Component 1.3</a></li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Component 2</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a mat-button href="@">Component 2.1</a></li>
        <li><a mat-button href="@">Component 2.2</a></li>
        <li><a mat-button href="@">Component 2.3</a></li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Component 3</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a mat-button href="@">Component 3.1</a></li>
        <li><a mat-button href="@">Component 3.2</a></li>
        <li><a mat-button href="@">Component 3.3</a></li>
      </ul>
    </mat-expansion-panel>

  </mat-accordion>
</nav>
