mat-expansion-panel {
  box-shadow: none;
  background: none;
  padding: 0;
  margin: 0;
}

mat-expansion-panel-header {
  background: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu_item {
  margin: 0;
  padding: 0;
}
