<h21-breadcrumbs-toolbar [routes]="[{title: 'Home', url:'/'}, {title: 'Our-Components'}]"></h21-breadcrumbs-toolbar>
<h21-dashboard [dashboard]="dashboard"></h21-dashboard>
<h21-tags
  [dataSource]="dataSource"
  [value]="value"
  [displayExpr]="displayExpr"
  [valueExpr]="valueExpr"
  (customItemCreating)="customItemCreating($event)"
></h21-tags>
<h21-tags
  [dataSource]="simpleProducts"
  [value]="value"
  [displayExpr]="displayExpr"
  [valueExpr]="valueExpr"
  [grouped]="true"
  (customItemCreating)="customItemCreating($event)"
></h21-tags>
