/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

* {
  outline: none !important;
}
/*- Layout page --------------------------------------------------*/
.page {
  height: 100%;
  position: relative;
}
/*- Layout header ------------------------------------------------*/
.page_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0, .45);
  background: #4054b2;
}
/*- Layout body --------------------------------------------------*/
.page_body {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  box-sizing: border-box;
  background: #fff;
}
.page_body .mat-sidenav-container {
  height: 100%;
}
.page_body .mat-sidenav {
  width: 300px;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  background: #f9f9f9;
  box-shadow: 1px 0 1px rgba(0,0,0, .10);
  overflow: auto;
}
.page_body .mat-sidenav-content {
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;
}
/*- Layout footer ------------------------------------------------*/
.page_footer {
  display: none;
}
/*- Component page-header ----------------------------------------*/
.mat-toolbar.c-page-header_toolbar {
  background: #4054b2;
  color: #fff;
}
a.c-page-header_logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
a.c-page-header_logo:hover {
  color: #fff;
}
a.c-page-header_logo span {
  margin-left: 10px;
}
button.c-page-header_button {
  margin: 0 5px;
}
button.c-page-header_button:last-child {
  margin-right: 0;
}
.c-page-header_button-notification-label {
  background: #ff0000;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-weight: normal;
}
.c-page-header_spacer {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
/*- Component example-viewer -------------------------------------*/
.c-example-viewer {
  box-shadow: 0 2px 5px rgba(0,0,0, .45);
  margin: 20px 0;
}
.c-example-viewer_title {
  background: #f5f5f5;
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
}
.c-example-viewer_code-box .mat-card {
  padding: 0;
}
.c-example-viewer_code-example {
  padding: 20px;
  font-family: Courier;
  color: #4d69ff;
  white-space: pre;
}


.line-separator {
  height: 50px;
  clear: both;
}
.example-container {
  padding: 20px;
  border: 1px dashed #efefef;
}
